.sproutit-logo-height {
    height: 113px;
  }
  
.itelf-logo-height
{
  height: 100px;
  width: 280px;
}

.sproutit-logo-height {
  height: 110px;
  padding-right: 10px;
}

.wrappic1 {
  display: block;
  width: 100%;
  text-align: left;
}
.wrappic1 img {
  max-width: 100%;
}

.siu-logo{height:56px;}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}