@media (max-width: 508px) {
.itelflogo {height: 42px;margin-top: -5px;}
.scit-logo {height: 30px;}
}

@media (max-width: 980px) {
.scit-logo {height: 30px; }
.itelflogo {height: 42px;margin-top: -5px;}
}